<a href="https://colab.research.google.com/github/janaeam/Shark_Attack_Data/blob/main/Shark_Attack_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_excel('/content/drive/MyDrive/Coding Dojo/Week_7/Data/GSAF5.xls')

In [3]:
df.head()

    Case Number                  Date  ...  Unnamed: 22 Unnamed: 23
0    2021.07.19           19-Jul-2021  ...          NaN         NaN
1    2021.07.15           15-Jul-2021  ...          NaN         NaN
2    2021.07.14           14-Jul-2021  ...          NaN         NaN
3  2021.07.11.R  Reported 11-Jul-2021  ...          NaN         NaN
4  2021.07.10.c           10-Jul-2021  ...          NaN         NaN

[5 rows x 24 columns]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25815 entries, 0 to 25814
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8793 non-null   object
 1   Date                    6666 non-null   object
 2   Year                    6665 non-null   float64
 3   Type                    6655 non-null   object
 4   Country                 6617 non-null   object
 5   Area                    6196 non-null   object
 6   Location                6115 non-null   object
 7   Activity                6104 non-null   object
 8   Name                    6452 non-null   object
 9   Sex                     6093 non-null   object
 10  Age                     3744 non-null   object
 11  Injury                  6635 non-null   object
 12  Fatal (Y/N)             6115 non-null   object
 13  Time                    3224 non-null   object
 14  Species                 3669 non-null   object
 15  Investigator or Source  6649 non-null   object
 16  pdf                     6666 non-null   object
 17  href formula            6663 non-null   object
 18  href                    6665 non-null   object
 19  Case Number.1           6666 non-null   object
 20  Case Number.2           6666 non-null   object
 21  original order          6667 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

## EDA

In [5]:
# there are thousands of rows with no data I am going to delete those, but first
#    I need to find the end...
df[6665:6668]
# There 6,667 rows of active information

     Case Number       Date  Year  ... original order Unnamed: 22 Unnamed: 23
6665     ND.0002  1883-1889   0.0  ...            3.0         NaN         NaN
6666     ND.0001  1845-1853   0.0  ...            2.0         NaN         NaN
6667           0        NaN   NaN  ...            NaN         NaN         NaN

[3 rows x 24 columns]

In [6]:
df = df[:6667]
df.tail(2)

     Case Number       Date  Year  ... original order Unnamed: 22 Unnamed: 23
6665     ND.0002  1883-1889   0.0  ...            3.0         NaN         NaN
6666     ND.0001  1845-1853   0.0  ...            2.0         NaN         NaN

[2 rows x 24 columns]

In [7]:
df.isnull().sum()

Case Number                  2
Date                         1
Year                         2
Type                        12
Country                     50
Area                       471
Location                   552
Activity                   563
Name                       215
Sex                        574
Age                       2923
Injury                      32
Fatal (Y/N)                552
Time                      3443
Species                   2998
Investigator or Source      18
pdf                          1
href formula                 4
href                         2
Case Number.1                1
Case Number.2                1
original order               0
Unnamed: 22               6666
Unnamed: 23               6665
dtype: int64

In [8]:
df['Case Number.1'] = df['Case Number.1'].fillna('2020.05.26')

In [9]:
df.rename(columns={'Case Number.1' : 'Case Id'}, inplace=True)

In [10]:
df = df.drop(columns=(['Case Number', 'Case Number.2', 'Unnamed: 22', 'Unnamed: 23']))

In [75]:
sharks = df.drop(columns=(['pdf', 'Name', 'href formula', 'href']))
sharks.head()

                   Date    Year  ...       Case Id original order
0           19-Jul-2021  2021.0  ...    2021.07.19         6668.0
1           15-Jul-2021  2021.0  ...    2021.07.15         6667.0
2           14-Jul-2021  2021.0  ...    2021.07.14         6666.0
3  Reported 11-Jul-2021  2021.0  ...  2021.07.11.R         6665.0
4           10-Jul-2021  2021.0  ...  2021.07.10.c         6664.0

[5 rows x 16 columns]

In [76]:
sharks.isnull().sum()

Date                         1
Year                         2
Type                        12
Country                     50
Area                       471
Location                   552
Activity                   563
Sex                        574
Age                       2923
Injury                      32
Fatal (Y/N)                552
Time                      3443
Species                   2998
Investigator or Source      18
Case Id                      0
original order               0
dtype: int64

In [77]:
sharks['Type'] = sharks['Type'].replace({'Unconfirmed' : 'Unverified',
                                         'Under investigation' : 'Unverified',
                                         'Questionable' : 'Unverified',
                                         'Boat' : 'Watercraft'}).fillna('Unverified')

In [78]:
sharks['Type'].value_counts()

Unprovoked      4885
Provoked         607
Invalid          552
Watercraft       356
Sea Disaster     240
Unverified        27
Name: Type, dtype: int64

In [80]:
vc = sharks['Country'].value_counts()
vc.sort_index()[199:215]

TRINIDAD & TOBAGO                3
TUNISIA                          3
TURKEY                          12
TURKS & CAICOS                   5
TUVALU                           1
UNITED ARAB EMIRATES             2
UNITED ARAB EMIRATES (UAE)       2
UNITED KINGDOM                  11
URUGUAY                          4
USA                           2409
VANUATU                         14
VENEZUELA                       11
VIETNAM                         15
WEST INDIES                      2
WESTERN SAMOA                    1
YEMEN                            2
Name: Country, dtype: int64

In [81]:
sharks['Country'] = sharks['Country'].replace({' PHILIPPINES' : 'PHILIPPINES',
                                               ' TONGA' : 'TONGA',
                                               'ASIA?' : 'ASIA',
                                               'ANDAMAN / NICOBAR ISLANDAS' : 'ANDAMAN ISLANDS',
                                               'BRITISH NEW GUINEA' : 'PAPUA NEW GUINEA',
                                               'Between PORTUGAL & INDIA' : 'ATLANTIC OCEAN',
                                               'CEYLON' : 'CEYLON (SRI LANKA)',
                                               'COLUMBIA' : 'COLOMBIA',
                                               'Coast of AFRICA' : 'SOUTH AFRICA',
                                               'EGYPT ' : 'EGYPT',
                                               'EGYPT / ISRAEL' : 'EGYPT',
                                               'EQUATORIAL GUINEA / CAMEROON' : 'NEW GUINEA',
                                               'GRAND CAYMAN' : 'CAYMAN ISLANDS',
                                               'INDIAN OCEAN?' : 'INDIAN OCEAN',
                                               'IRAN / IRAQ' : 'IRAN',
                                               'ITALY / CROATIA' : 'ITALY',
                                               'MALDIVE ISLANDS' : 'MALDIVES',
                                               'MEXICO ' : 'MEXICO',
                                               'MID ATLANTIC OCEAN' : 'ATLANTIC OCEAN',
                                               'MID-PACIFIC OCEAN' : 'PACIFIC OCEAN',
                                               'NICARAGUA ' : 'NICARAGUA',
                                               'NORTH ATLANTIC OCEAN ' : 'NORTH ATLANTIC OCEAN',
                                               'OCEAN' : 'OCEANIA',
                                               'PACIFIC OCEAN ' : 'PACIFIC OCEAN',
                                               'RED SEA / INDIAN OCEAN' : 'RED SEA',
                                               'RED SEA?' : 'RED SEA',
                                               'REUNION ISLAND' : 'REUNION',
                                               'SOLOMON ISLANDS / VANUATU' : 'SOLOMON ISLANDS',
                                               'SOUTH WEST PACIFIC OCEAN' : 'SOUTH PACIFIC OCEAN',
                                               'ST HELENA, British overseas territory' : 'ST HELENA',
                                               'ST KITTS / NEVIS' : 'ST KITTS',
                                               'ST MARTIN' : 'ST MAARTEN',
                                               'ST. MAARTIN' : 'ST MAARTEN',
                                               'ST. MARTIN' : 'ST MAARTEN',
                                               'SUDAN?' : 'SUDAN',
                                               'THE BALKANS' : 'BALKANS',
                                               'TRINIDAD & TOBAGO' : 'TOBAGO',
                                               'UNITED ARAB EMIRATES (UAE)' : 'UNITED ARAB EMIRATES',
                                               'BRITISH WEST INDIES' : 'WEST INDIES',
                                               'WESTERN SAMOA' : 'SAMOA',
                                               'Sierra Leone' : 'SIERRA LEONE',
                                               'Seychelles' : 'SEYCHELLES'})

In [83]:
sharks['Country'] = sharks['Country'].fillna('unknown')

In [85]:
sharks['Country'].value_counts()

USA                 2409
AUSTRALIA           1425
SOUTH AFRICA         590
NEW ZEALAND          139
PAPUA NEW GUINEA     136
                    ...
MAYOTTE                1
NORTH SEA              1
GREENLAND              1
GEORGIA                1
GUATEMALA              1
Name: Country, Length: 183, dtype: int64

In [86]:
sharks.loc[sharks['Date'].isna(), :]

     Date  Year        Type  ... Investigator or Source  Case Id original order
6544  NaN   0.0  Unprovoked  ...          D. Grant, SRI  ND-0157          124.0

[1 rows x 16 columns]

In [87]:
sharks['Date'].value_counts()

1957                    9
1942                    8
1958                    7
1941                    6
No date                 6
                       ..
24-Jun-1892             1
04-Jan-1942             1
04-Nov-1963             1
Reported 19-Jul-1951    1
21-Oct-2017             1
Name: Date, Length: 5766, dtype: int64

In [88]:
sharks['Year'] = sharks['Year'].fillna(0).astype(int)

In [89]:
# Replace Years with a value of 0 to the year mentioned in Date column
sharks.loc[sharks['Year']== 0.0, :]

                      Date  Year  ...       Case Id original order
534   Reported 08-Jan-2017     0  ...  2017.01.08.R         6134.0
6441  Reported 19-Aug-1836     0  ...  1836.08.19.R          227.0
6539          Ca. 214 B.C.     0  ...     0000.0214          129.0
6540         Ca. 336.B.C..     0  ...     0000.0336          128.0
6541              493 B.C.     0  ...     0000.0493          127.0
...                    ...   ...  ...           ...            ...
6662           Before 1903     0  ...       ND.0005            6.0
6663           Before 1903     0  ...       ND.0004            5.0
6664             1900-1905     0  ...       ND.0003            4.0
6665             1883-1889     0  ...       ND.0002            3.0
6666             1845-1853     0  ...       ND.0001            2.0

[130 rows x 16 columns]

In [90]:
sharks.isnull().sum()

Date                         1
Year                         0
Type                         0
Country                      0
Area                       471
Location                   552
Activity                   563
Sex                        574
Age                       2923
Injury                      32
Fatal (Y/N)                552
Time                      3443
Species                   2998
Investigator or Source      18
Case Id                      0
original order               0
dtype: int64

]]

In [91]:
sharks.loc[sharks['Date'].isna(), :]

     Date  Year        Type  ... Investigator or Source  Case Id original order
6544  NaN     0  Unprovoked  ...          D. Grant, SRI  ND-0157          124.0

[1 rows x 16 columns]

In [92]:
sharks.loc[sharks['Country'] == 'BELIZE', :]

                      Date  Year  ...       Case Id original order
1040  Reported 21-Mar-2013  2013  ...  2013.03.21.R         5628.0
1791           22-Aug-2006  2006  ...  2006.08.22.a         4877.0
6544                   NaN     0  ...       ND-0157          124.0
6641           Early 1930s     0  ...       ND.0026           27.0

[4 rows x 16 columns]

In [93]:
sharks['original order'].count()

6667