<a href="https://colab.research.google.com/github/janaeam/Shark_Attack_Data/blob/main/Shark_Attack_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
df = pd.read_excel('/content/drive/MyDrive/Coding Dojo/Week_7/Data/GSAF5.xls' )

In [4]:
df.head()

    Case Number                  Date  ...  Unnamed: 22 Unnamed: 23
0    2021.07.19           19-Jul-2021  ...          NaN         NaN
1    2021.07.15           15-Jul-2021  ...          NaN         NaN
2    2021.07.14           14-Jul-2021  ...          NaN         NaN
3  2021.07.11.R  Reported 11-Jul-2021  ...          NaN         NaN
4  2021.07.10.c           10-Jul-2021  ...          NaN         NaN

[5 rows x 24 columns]

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25815 entries, 0 to 25814
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8793 non-null   object
 1   Date                    6666 non-null   object
 2   Year                    6665 non-null   float64
 3   Type                    6655 non-null   object
 4   Country                 6617 non-null   object
 5   Area                    6196 non-null   object
 6   Location                6115 non-null   object
 7   Activity                6104 non-null   object
 8   Name                    6452 non-null   object
 9   Sex                     6093 non-null   object
 10  Age                     3744 non-null   object
 11  Injury                  6635 non-null   object
 12  Fatal (Y/N)             6115 non-null   object
 13  Time                    3224 non-null   object
 14  Species                 3669 non-null   object
 15  Investigator or Source  6649 non-null   object
 16  pdf                     6666 non-null   object
 17  href formula            6663 non-null   object
 18  href                    6665 non-null   object
 19  Case Number.1           6666 non-null   object
 20  Case Number.2           6666 non-null   object
 21  original order          6667 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

## df

- filter out empty columns and rows
- check for *NaN* values
- rename ***Case Number.1*** to ***Case Id*** to use as the index once EDA is completed and drop the remaining "Case" columns

In [6]:
df.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [7]:
# there are thousands of rows with no data I am going to delete those, but first
#    I need to find the end...
df[6665:6668]
# There 6,667 rows of active information

     Case Number       Date  Year  ... original order Unnamed: 22 Unnamed: 23
6665     ND.0002  1883-1889   0.0  ...            3.0         NaN         NaN
6666     ND.0001  1845-1853   0.0  ...            2.0         NaN         NaN
6667           0        NaN   NaN  ...            NaN         NaN         NaN

[3 rows x 24 columns]

In [8]:
df = df[:6667]
df.tail(2)

     Case Number       Date  Year  ... original order Unnamed: 22 Unnamed: 23
6665     ND.0002  1883-1889   0.0  ...            3.0         NaN         NaN
6666     ND.0001  1845-1853   0.0  ...            2.0         NaN         NaN

[2 rows x 24 columns]

In [9]:
df.isnull().sum()

Case Number                  2
Date                         1
Year                         2
Type                        12
Country                     50
Area                       471
Location                   552
Activity                   563
Name                       215
Sex                        574
Age                       2923
Injury                      32
Fatal (Y/N)                552
Time                      3443
Species                   2998
Investigator or Source      18
pdf                          1
href formula                 4
href                         2
Case Number.1                1
Case Number.2                1
original order               0
Unnamed: 22               6666
Unnamed: 23               6665
dtype: int64

In [10]:
df.loc[df['Case Number'].isnull(), :]

     Case Number                  Date  ...  Unnamed: 22 Unnamed: 23
56           NaN           13-Jan-2021  ...          NaN         NaN
5848         NaN  Reported 06-Sep-1905  ...          NaN         NaN

[2 rows x 24 columns]

In [11]:
# filling in missing values for the Case Number column with values from the Case Number.1 column
df['Case Number'] = df['Case Number'].fillna(df['Case Number.1'])

In [12]:
df['Case Number'].isnull().sum()

0

In [13]:
# renaming the Case Number column to Case Id and the Sex and Species columns to eliminate the white space
df.rename(columns={'Case Number' : 'Case Id',
                   'Sex ' : 'Sex',
                   'Species ' : 'Species'}, inplace=True)

In [14]:
# dropping empty and redundant columns
df = df.drop(columns=(['Case Number.1', 'Case Number.2', 'Unnamed: 22', 'Unnamed: 23']))

## Sharks

- filtering out obvious irrelevant columns by renaming dataframe to ***sharks***, leaving the original ***df*** for reference.

- fix value errors for ***Country*** column by ensuring capitalization and spelling consistency.

- fix ***Area*** and ***Location*** columns by ensuring the proper value is associated with the appropriate column. Some of the values are mixed between columns. Also, correct missing values by calling *Unkown* or *Unspecified*

- analayze the value_counts() and fill *NaN* values of the ***Date*** and ***Year*** columns

- analyze the value_counts() and correct inconsistencies of the ***Species*** and ***Fatal(Y/N)*** column

In [15]:
# assigning new name to df so as to drop the obvious unnecessary columns
# leaving all other columns even if they are obviously unnecessary just in case they contain
#    valuable information for the data cleaning process
sharks = df.drop(columns=(['pdf', 'Name', 'href formula', 'href']))
sharks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6667 entries, 0 to 6666
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Id                 6667 non-null   object
 1   Date                    6666 non-null   object
 2   Year                    6665 non-null   float64
 3   Type                    6655 non-null   object
 4   Country                 6617 non-null   object
 5   Area                    6196 non-null   object
 6   Location                6115 non-null   object
 7   Activity                6104 non-null   object
 8   Sex                     6093 non-null   object
 9   Age                     3744 non-null   object
 10  Injury                  6635 non-null   object
 11  Fatal (Y/N)             6115 non-null   object
 12  Time                    3224 non-null   object
 13  Species                 3669 non-null   object
 14  Investigator or Source  6649 non-null   object
 15  original order          6667 non-null   float64
dtypes: float64(2), object(14)
memory usage: 833.5+ KB

In [16]:
sharks.isnull().sum()

Case Id                      0
Date                         1
Year                         2
Type                        12
Country                     50
Area                       471
Location                   552
Activity                   563
Sex                        574
Age                       2923
Injury                      32
Fatal (Y/N)                552
Time                      3443
Species                   2998
Investigator or Source      18
original order               0
dtype: int64



> ## ['Type'] Columun

In [17]:
sharks['Type'].value_counts()

Unprovoked             4885
Provoked                607
Invalid                 552
Watercraft              349
Sea Disaster            240
Questionable             12
Boat                      7
Unconfirmed               1
Unverified                1
Under investigation       1
Name: Type, dtype: int64

In [18]:
# fixing cell value inconsistencies
sharks['Type'] = sharks['Type'].replace({'Unconfirmed' : 'Unverified',
                                         'Under investigation' : 'Unverified',
                                         'Questionable' : 'Unverified',
                                         'Boat' : 'Watercraft'}).fillna('Unverified')

In [19]:
sharks['Type'].value_counts()

Unprovoked      4885
Provoked         607
Invalid          552
Watercraft       356
Sea Disaster     240
Unverified        27
Name: Type, dtype: int64



> ## ['Country'] Column



*   correcting spelling issues in ***Country*** column
*   assigning values to another column with  country codes in order to plot a world map

In [20]:
sharks['Country'].nunique()

216

In [21]:
# fixing cell value inconsistencies, spelling and formatting issues
sharks['Country'] = sharks['Country'].replace({' PHILIPPINES' : 'PHILIPPINES',
                                               ' TONGA' : 'TONGA',
                                               'ASIA?' : 'ASIA',
                                               'ANDAMAN ISLANDS' : 'ANDAMAN AND NICOBAR ISLANDS',
                                               'ANDAMAN / NICOBAR ISLANDAS' : 'ANDAMAN AND NICOBAR ISLANDS',
                                               'BRITISH NEW GUINEA' : 'PAPUA NEW GUINEA',
                                               'Between PORTUGAL & INDIA' : 'ATLANTIC OCEAN',
                                               'CEYLON' : 'CEYLON (SRI LANKA)',
                                               'COLUMBIA' : 'COLOMBIA',
                                               'Coast of AFRICA' : 'SOUTH AFRICA',
                                               'EGYPT ' : 'EGYPT',
                                               'EGYPT / ISRAEL' : 'EGYPT',
                                               'EQUATORIAL GUINEA / CAMEROON' : 'NEW GUINEA',
                                               'GRAND CAYMAN' : 'CAYMAN ISLANDS',
                                               'INDIAN OCEAN?' : 'INDIAN OCEAN',
                                               'IRAN / IRAQ' : 'IRAN',
                                               'ITALY / CROATIA' : 'ITALY',
                                               'MALDIVE ISLANDS' : 'MALDIVES',
                                               'MEXICO ' : 'MEXICO',
                                               'MID ATLANTIC OCEAN' : 'ATLANTIC OCEAN',
                                               'MID-PACIFIC OCEAN' : 'PACIFIC OCEAN',
                                               'NICARAGUA ' : 'NICARAGUA',
                                               'NORTH ATLANTIC OCEAN ' : 'NORTH ATLANTIC OCEAN',
                                               'OCEAN' : 'OCEANIA',
                                               'PACIFIC OCEAN ' : 'PACIFIC OCEAN',
                                               'RED SEA / INDIAN OCEAN' : 'RED SEA',
                                               'RED SEA?' : 'RED SEA',
                                               'REUNION ISLAND' : 'REUNION',
                                               'SOLOMON ISLANDS / VANUATU' : 'SOLOMON ISLANDS',
                                               'SOUTH WEST PACIFIC OCEAN' : 'SOUTH PACIFIC OCEAN',
                                               'ST HELENA, British overseas territory' : 'ST HELENA',
                                               'ST KITTS / NEVIS' : 'ST KITTS',
                                               'ST MARTIN' : 'ST MAARTEN',
                                               'ST. MAARTIN' : 'ST MAARTEN',
                                               'ST. MARTIN' : 'ST MAARTEN',
                                               'SUDAN?' : 'SUDAN',
                                               'THE BALKANS' : 'BALKANS',
                                               'TRINIDAD & TOBAGO' : 'TOBAGO',
                                               'UNITED ARAB EMIRATES (UAE)' : 'UNITED ARAB EMIRATES',
                                               'BRITISH WEST INDIES' : 'WEST INDIES',
                                               'WESTERN SAMOA' : 'SAMOA',
                                               'Sierra Leone' : 'SIERRA LEONE',
                                               'Seychelles' : 'SEYCHELLES',
                                               'YEMEN ' : 'YEMEN'})

In [22]:
vc = sharks['Country'].value_counts()
vc.sort_index()[90:110]

MADAGASCAR               8
MALAYSIA                 5
MALDIVES                 3
MALTA                    5
MARSHALL ISLANDS        13
MARTINIQUE               3
MAURITIUS               10
MAYOTTE                  1
MEDITERRANEAN SEA        2
MEXICO                  96
MICRONESIA               3
MID-PACIFC OCEAN         1
MONACO                   1
MONTENEGRO               3
MOZAMBIQUE              46
NAMIBIA                  2
NETHERLANDS ANTILLES     1
NEVIS                    1
NEW BRITAIN              6
NEW CALEDONIA           62
Name: Country, dtype: int64

In [23]:
sharks['Country'].isna().sum()

50

In [24]:
 sharks.loc[sharks['Country'].isna(), :].head()

           Case Id  ... original order
406   2017.11.13.R  ...         6262.0
873     2014.08.00  ...         5795.0
3307  1983.00.00.d  ...         3361.0
3735    1970.11.00  ...         2933.0
3744    1970.08.02  ...         2924.0

[5 rows x 16 columns]

In [25]:
sharks['Country'] = sharks['Country'].fillna('UNKNOWN')

In [26]:
sharks['Country'].isna().sum()

0

In [27]:
sharks['Country'].value_counts()

USA                 2409
AUSTRALIA           1425
SOUTH AFRICA         590
NEW ZEALAND          139
PAPUA NEW GUINEA     136
                    ...
GHANA                  1
DJIBOUTI               1
TUVALU                 1
JAVA                   1
GABON                  1
Name: Country, Length: 182, dtype: int64



> ## ['Area'] and ['Location'] Columns

*   filling in some missing values or replacing incorrect values from the values in the adjacent column (either ***Area*** to ***Location*** or vice versa)
*   replacing mis-labeled values with  proper label
*   moving values from wrong column to the correct column

In [28]:
sharks.loc[sharks['Location']== 'Santa Cruz', 'Country'] = sharks.loc[sharks['Location']== 'Santa Cruz', 'Country'].fillna('USA')
sharks.loc[sharks['Location']== 'Santa Cruz', 'Area'] = sharks.loc[sharks['Location']== 'Santa Cruz', 'Area'].fillna('California')

In [29]:
sharks.loc[sharks['original order']== 496, :] = sharks.loc[sharks['original order']== 496, :].replace('Santa Cruz','Santa Cruz, Santa Cruz County')

In [30]:
sharks.loc[sharks['Area']=='English Channel', 'Country'] = sharks.loc[sharks['Area']=='English Channel', 'Country'].fillna('ENGLAND')
sharks.loc[sharks['Location']=='Between St. Kitts & Nevis', ['Country', 'Area']] = sharks.loc[sharks['Location']=='Between St. Kitts & Nevis', ['Country', 'Area']].fillna('ST KITTS').replace('Caribbean Sea', 'The Narrows')
sharks.loc[sharks['Location']=='Florida Strait', 'Country'] = sharks.loc[sharks['Location']=='Florida Strait', 'Country'].fillna('USA')
sharks.loc[sharks['Location']=='Florida Strait', 'Area'] = sharks.loc[sharks['Location']=='Florida Strait', 'Area'].fillna('Florida')

In [31]:
sharks.loc[sharks['Area']=='Between Timor & Darwin, Australia', 'Country'] = sharks.loc[sharks['Area']=='Between Timor & Darwin, Australia', 'Country'].fillna('AUSTRALIA')
sharks.loc[sharks['Area']=='Between Timor & Darwin, Australia', 'Location'] = sharks.loc[sharks['Area']=='Between Timor & Darwin, Australia', 'Location'].fillna('Darwin')

In [32]:
sharks.loc[sharks['Area']=='Caribbean Sea', 'Country'] = sharks.loc[sharks['Area']=='Caribbean Sea', 'Country'].fillna('CARIBBEAN SEA')
sharks.loc[sharks['Area']=='Near the Andaman & Nicobar Islands', 'Country'] = sharks.loc[sharks['Area']=='Near the Andaman & Nicobar Islands', 'Country'].fillna('ANDAMAN AND NICOBAR ISLANDS')
sharks.loc[sharks['Area']=='Caribbean Sea', 'Country'] = sharks.loc[sharks['Area']=='Caribbean Sea', 'Country'].fillna('CARIBBEAN SEA')
sharks.loc[sharks['Area']=='Between Comores & Madagascar', 'Country'] = sharks.loc[sharks['Area']=='Between Comores & Madagascar', 'Country'].fillna('COMOROS')

In [33]:
sharks.loc[sharks['Location']=='225 miles east of Hong Kong', 'Country'] = sharks.loc[sharks['Location']=='225 miles east of Hong Kong', 'Country'].fillna('CHINA')
sharks.loc[sharks['Location']=='225 miles east of Hong Kong', 'Area'] = sharks.loc[sharks['Location']=='225 miles east of Hong Kong', 'Area'].fillna('Hong Kong')
sharks.loc[sharks['Area']== 'New Territories', :] = sharks.loc[sharks['Area']== 'New Territories', :].replace({'HONG KONG':'CHINA', 'New Territories':'Hong Kong'})
sharks.loc[sharks['Area']== 'Mirs Bay ', ['Area','Location', 'Country']] = sharks.loc[sharks['Area']== 'Mirs Bay ', ['Area','Location', 'Country']].replace({'HONG KONG':'CHINA','Mirs Bay ':'Hong Kong'}).fillna('Mirs Bay')
sharks.loc[sharks['Area']=='Ho Ha Wan Marine Park', 'Location'] = sharks.loc[sharks['Area']=='Ho Ha Wan Marine Park', 'Location'].fillna('Ho Ha Wan Marine Park')
sharks.loc[sharks['Area']=='South China Sea 200 miles from Hong Kong', 'Location'] = sharks.loc[sharks['Area']=='South China Sea 200 miles from Hong Kong', 'Location'].fillna('South China Sea 200 miles from Hong Kong')
# Hong Kong is not a country. Correcting Country and Area columns to reflect accurate entry
sharks.loc[sharks['Country']=='HONG KONG', 'Area'] = sharks.loc[sharks['Country']=='HONG KONG', 'Area'].fillna('Hong Kong')
sharks.loc[sharks['Country']=='HONG KONG', ['Country', 'Area', 
                                            'Location']] = sharks.loc[sharks['Country']=='HONG KONG', ['Country', 'Area', 
                                                                                                       'Location']].replace({'HONG KONG':'CHINA',
                                                                                                       'Clearwater Bay':'Hong Kong',
                                                                                                       'On the Kowloon penisula, south of Sai Kung':'Hong Kong',
                                                                                                       'Kowloon Peninsula':'Hong Kong',
                                                                                                       'Port Shelter':'Hong Kong',
                                                                                                       'Ho Ha Wan Marine Park': 'Hong Kong',
                                                                                                       'South China Sea 200 miles from Hong Kong':'Hong Kong',
                                                                                                       'First Beach':'Clearwater Bay First Beach',
                                                                                                       'Silverstrand':'Kowloon Peninsula, South of Sai Kung, Silverstrand',
                                                                                                       'Sai Kung':'Kowloon Peninsula, Sai Kung',
                                                                                                       'Silverstand Beach, near Hung Hau':'Port Shelter, Silverstrand Beach, near Hung Hau',
                                                                                                       })

In [34]:
sharks.loc[sharks['Country']=='CHINA', 'Area'] = sharks.loc[sharks['Country']=='CHINA', 'Area'].fillna('Macao')
sharks.loc[sharks['Location']=='Macao Harbor', 'Fatal (Y/N)'] = sharks.loc[sharks['Location']=='Macao Harbor', 'Fatal (Y/N)'].fillna('N')

In [35]:
sharks.loc[sharks['Location']=='In a river feeding into the Bay of Bengal', 'Country'] = sharks.loc[sharks['Location']=='In a river feeding into the Bay of Bengal', 'Country'].fillna('INDIA')
sharks.loc[sharks['Location']=='In a river feeding into the Bay of Bengal', 'Area'] = sharks.loc[sharks['Location']=='In a river feeding into the Bay of Bengal', 'Area'].fillna('Bay of Bengal')

In [36]:
sharks.loc[sharks['Area']=='Ionian Sea', 'Country'] = sharks.loc[sharks['Area']=='Ionian Sea', 'Country'].fillna('GREECE')

In [37]:
sharks.loc[sharks['Area']=='St Helena', 'Country'] = sharks.loc[sharks['Area']=='St Helena', 'Country'].fillna('SOUTH ATLANTIC OCEAN')

In [38]:
sharks.loc[sharks['Location']=='Carlisle Bay', 'Country'] = sharks.loc[sharks['Location']=='Carlisle Bay', 'Country'].fillna('ANTIGUA')

In [39]:
sharks.loc[sharks['Area']=='Western Banks', 'Country'] = sharks.loc[sharks['Area']=='Western Banks', 'Country'].fillna('USA')
sharks.loc[sharks['Area']=='Western Banks', ['Area', 'Location']] = sharks.loc[sharks['Area']=='Western Banks', ['Area', 'Location']].replace('Western Banks','Maine').fillna('Western Banks')
sharks.loc[sharks['Area']=='Gulf of California', 'Country'] = sharks.loc[sharks['Area']=='Gulf of California', 'Country'].fillna('MEXICO')
sharks.loc[sharks['Area']=='Mediterranean Sea', 'Country'] = sharks.loc[sharks['Area']=='Mediterranean Sea', 'Country'].fillna('MEDITERRANEAN SEA')
sharks.loc[sharks['Location']=='Île Saint-Paul', ['Country', 'Area']] = sharks.loc[sharks['Location']=='Île Saint-Paul', ['Country', 'Area']].fillna('CANADA').replace('French Southern Territories','Nova Scotia')

In [40]:
sharks.loc[sharks['Area']=='300 miles east of St. Thomas (Virgin Islands)', 'Country'] = sharks.loc[sharks['Area']=='300 miles east of St. Thomas (Virgin Islands)', 'Country'].fillna('NORTH ATLANTIC OCEAN')

In [41]:
sharks.loc[sharks.index == 5062, 'Location'] = sharks.loc[sharks.index == 5062, 'Location'].fillna(sharks['Area'])
sharks.loc[sharks.index == 5062, 'Area'] = sharks.loc[sharks.index == 5062, 'Area'].replace('04.05N-13.23W', np.nan)
sharks.loc[sharks.index == 4287, 'Area'] = sharks.loc[sharks.index == 4287, 'Area'].replace('9.35N 79.35W', 'East of La Grande Island, North of Panama Canal')
sharks.loc[sharks.index == 4287, 'Location'] = sharks.loc[sharks.index == 4287, 'Location'].replace('East of La Grande Island, North of Panama Canal','9.35N 79.35W')

In [42]:
sharks.loc[sharks['Country'].str.contains('OCEAN'), :].head(2)

           Case Id  ... original order
794     2015.02.15  ...         5874.0
1855  2006.01.28.R  ...         4813.0

[2 rows x 16 columns]

In [43]:
sharks.loc[sharks['Country'].str.contains('OCEAN'), ['Area', 'Location']] = sharks.loc[sharks['Country'].str.contains('OCEAN'), ['Area', 'Location']].fillna('Open Sea')

In [44]:
sharks[['Area', 'Location']].isna().sum()

Area        419
Location    490
dtype: int64



> ## ['Fatal'] Column

In [45]:
# renaming Fatal column (removing (Y/N) from title)
sharks = sharks.rename(columns=({'Fatal (Y/N)' : 'Fatal'}))
# filling in missing values with UnV (Unverified)
sharks['Fatal'] = sharks['Fatal'].fillna('UnV')

In [46]:
sharks.isnull().sum()

Case Id                      0
Date                         1
Year                         2
Type                         0
Country                      0
Area                       419
Location                   490
Activity                   563
Sex                        574
Age                       2923
Injury                      32
Fatal                        0
Time                      3443
Species                   2998
Investigator or Source      18
original order               0
dtype: int64

> ## ['Date'] & ['Year'] Columns

- many formatting issues. Values are mostly represented, but format is inconsistent.
- correcting ***Date*** and ***Year*** column dytpes
- all imputed dates/years values were derived from the following methods (in order of importance): 
- 1.   deduced from the date or year mentioned in the original non-descript cell value
- 2.   the given date/year from another column (if mentioned)
- 3.   by finding the median value from a range of years or dates provided

In [47]:
sharks.loc[sharks['Date'].isnull(), :]

      Case Id Date  Year  ... Species Investigator or Source original order
6544  ND-0157  NaN   0.0  ...     NaN          D. Grant, SRI          124.0

[1 rows x 16 columns]

In [48]:
# dropping row containing NaN in the Date column as most of the information is unknown
sharks.dropna(subset= ['Date'], inplace=True)

In [49]:
# unmixing the dtype for the Date column. It's currently a mixed dtype and impossible to correct 
#    messy formatting. Using .replace or .str.replace with current mixed dtype causes 150 NaNs
# found code at on this website: https://stackoverflow.com/questions/33312706/pandas-convert-mixed-types-to-string
sharks['Date'] = sharks['Date'].apply(lambda elt: str(int(elt)) if isinstance(elt, float) else str(elt))

In [50]:
sharks['Date'].dtypes

dtype('O')

In [51]:
sharks['Date'].value_counts()

1957                                                11
1942                                                 9
1956                                                 8
1941                                                 7
1950                                                 7
                                                    ..
21-Apr-1977                                          1
16-Jul-1953                                          1
04-Mar-1942                                          1
15-Apr-1987                                          1
Reported 24-Oct-1888, but took place around 1868     1
Name: Date, Length: 5736, dtype: int64

In [52]:
sharks['Date'].str.contains('Reported').sum()

564

In [53]:
sharks['Date'] = sharks['Date'].str.replace('Reported', '')

In [54]:
sharks['Date'].str.contains('Reported').sum()

0

In [55]:
sharks['Date'].isnull().sum()

0

In [56]:
sharks.shape

(6666, 16)

In [57]:
sharks['Date'].str.contains('1018').sum()

1

In [58]:
Nodate = sharks.loc[sharks['Date'].str.contains('No date'), :]
Nodate.head()

      Case Id  ... original order
6574  ND.0110  ...           94.0
6580  ND.0102  ...           88.0
6582  ND.0097  ...           86.0
6583  ND.0096  ...           85.0
6585  ND.0094  ...           83.0

[5 rows x 16 columns]

In [59]:
sharks['Date'] = sharks['Date'].str.replace('No date, ', ' ')
sharks['Date'] = sharks['Date'].str.replace('No date', ' ')

In [60]:
sharks.loc[sharks['Date'].str.contains('No date'), :]

Empty DataFrame
Columns: [Case Id, Date, Year, Type, Country, Area, Location, Activity, Sex, Age, Injury, Fatal, Time, Species, Investigator or Source, original order]
Index: []

In [61]:
sharks.loc[sharks.index==6655, :]

      Case Id                Date  ...       Investigator or Source original order
6655  ND.0012  Before 19-Jul-1913  ...  Rural New Yorker, 7/19/1913           13.0

[1 rows x 16 columns]

In [62]:
# changing value in Date column by index number for convenience

# found date in the Investigator column
sharks.loc[sharks.index == 6645, 'Date'] = '11-Jan-1940'
sharks.loc[sharks.index == 6645, 'Year'] = 1940
sharks.loc[sharks.index == 6602, 'Date'] = '1958'
sharks.loc[sharks.index == 6602, 'Year'] = 1958
sharks.loc[sharks.index == 6626, 'Date'] = '28-Jun-1950'
sharks.loc[sharks.index == 6626, 'Year'] = 1950
sharks.loc[sharks.index == 6621, 'Date'] = '15-Feb-1956'
sharks.loc[sharks.index == 6621, 'Year'] = 1956
sharks.loc[sharks.index == 6614, 'Date'] = '1956'
sharks.loc[sharks.index == 6614, 'Year'] = 1956
sharks.loc[sharks.index == 6609, 'Date'] = '22-Aug-1960'
sharks.loc[sharks.index == 6609, 'Year'] = 1960
sharks.loc[sharks.index == 6600, 'Date'] = '1952'
sharks.loc[sharks.index == 6600, 'Year'] = 1952
sharks.loc[sharks.index == 6572, 'Date'] = '27-Mar-1911'
sharks.loc[sharks.index == 6572, 'Year'] = 1911
sharks.loc[sharks.index == 6569, 'Date'] = '11-Jan-1936'
sharks.loc[sharks.index == 6569, 'Year'] = 1936
sharks.loc[sharks.index == 6564, 'Date'] = '09-Jul-2011'
sharks.loc[sharks.index == 6564, 'Year'] = 2011
sharks.loc[sharks.index == 4685, 'Date'] = '19-Aug-1954'
sharks.loc[sharks.index == 4685, 'Year'] = 1954
sharks.loc[sharks.index == 6558, 'Date'] = '22-Jul-1916'
sharks.loc[sharks.index == 6558, 'Year'] = 1916
sharks.loc[sharks.index == 6556, 'Date'] = '28-Jan-1909'
sharks.loc[sharks.index == 6556, 'Year'] = 1909
sharks.loc[sharks.index == 6554, 'Date'] = '2-Jun-1933'
sharks.loc[sharks.index == 6554, 'Year'] = 1933
sharks.loc[sharks.index == 4909, 'Date'] = '20-Feb-1948'
sharks.loc[sharks.index == 6263, 'Date'] = '1-Nov-1872'
sharks.loc[sharks.index == 6100, 'Date'] = '23-Dec-1887'
sharks.loc[sharks.index == 6487, 'Year'] = 1906
sharks.loc[sharks.index == 4479, 'Date'] = '29-Jan-1960'

# imputing date by original values from the date column
sharks.loc[sharks.index==6654, 'Date'] = '18-Jul-1913'
sharks.loc[sharks.index==6654, 'Year'] = 1913 
sharks.loc[sharks.index==6655, 'Date'] = '15-Jul-1913'
sharks.loc[sharks.index==6655, 'Year'] = 1913
sharks.loc[sharks.index==4717, 'Date'] = '1954'
sharks.loc[sharks.index==4717, 'Year'] = 1954
sharks.loc[sharks.index==4716, 'Date'] = '1954'
sharks.loc[sharks.index==4716, 'Year'] = 1954
sharks.loc[sharks.index == 6240, 'Date'] = '1875'
sharks.loc[sharks.index == 6384, 'Date'] = '22-Jan_1852'
sharks.loc[sharks.index == 6601, 'Date'] = '1931' # median of range entered
sharks.loc[sharks.index == 6639, 'Date'] = '1935'
sharks.loc[sharks.index == 6287, 'Date'] = '24-Oct-1868'
sharks.loc[sharks.index == 6255, 'Date'] = '15-Nov-1873' # median of range entered
sharks.loc[sharks.index == 6146, 'Date'] = '14-Sep-1883'
sharks.loc[sharks.index == 5773, 'Date'] = '16-Nov-1909' # median of range entered
sharks.loc[sharks.index == 5635, 'Date'] = '1919'
sharks.loc[sharks.index == 5528, 'Date'] = '17-Mar-1925' # median of range entered
sharks.loc[sharks.index == 5476, 'Date'] = '15-Jan-1928' # median of range entered
sharks.loc[sharks.index == 5065, 'Date'] = '13-Sep-1942' # median of range entered
sharks.loc[sharks.index == 5042, 'Date'] = '05-Mar-1943' # median of range entered
sharks.loc[sharks.index == 5019, 'Date'] = '1-Aug-1944' # median of range entered
sharks.loc[sharks.index == 4991, 'Date'] = '20-Dec-1944' # median of range entered
sharks.loc[sharks.index == 4877, 'Date'] = '1-Apr-1949' # median of range entered
sharks.loc[sharks.index == 4799, 'Date'] = '4-Aug-1951' # median of range entered
sharks.loc[sharks.index == 4478, 'Date'] = '1-Aug-1959' # median of range entered
sharks.loc[sharks.index == 4418, 'Date'] = '11-Sep-1959' # median of range entered
sharks.loc[sharks.index == 3883, 'Date'] = '30-May-1967' #  of range entered
sharks.loc[sharks.index == 3204, 'Date'] = '15-Jul-1985' # chose earlier year
sharks.loc[sharks.index == 2863, 'Date'] = '1-Aug-1993' # median of range entered
sharks.loc[sharks.index == 2004, 'Date'] = '19-Jul-2004' # median of range entered
sharks.loc[sharks.index == 6636, 'Date'] = '1942' # imputing be World War II value entered
sharks.loc[sharks.index == 6637, 'Date'] = '1942' # imputing be World War II value entered


# found date in the Year column
sharks.loc[sharks.index == 349, 'Date'] = 'Jun-2018'
sharks.loc[sharks.index == 6468, 'Date'] = '1825'
sharks.loc[sharks.index == 6526, 'Date'] = '1642'
sharks.loc[sharks.index == 5162, 'Date'] = '1939'

In [63]:
# replacing typo in Date column by Case Id so as to avoid changing all dates that 
#    match the value being changed
sharks.loc[sharks['Case Id']=='2020.07.10', :] = sharks.loc[sharks['Case Id']=='2020.07.10', :].replace('10-Jul-202', '10-Jul-2020')

In [64]:
# imputing dates and years to be 1 year or 15 days prior to referenced "Before" date
# filling in Year column if missing
sharks['Date'] = sharks['Date'].str.replace('Before 1824', '1823')
sharks['Date'] = sharks['Date'].str.replace('Before 1871', '1870')
sharks['Date'] = sharks['Date'].str.replace('Before 1876', '1875')
sharks['Date'] = sharks['Date'].str.replace('Before 1878', '1877')
sharks['Date'] = sharks['Date'].str.replace('Before 1900', '1899')
sharks['Date'] = sharks['Date'].str.replace('Before 1901', '1900')
sharks['Date'] = sharks['Date'].str.replace('Before 1902', '1901')
sharks['Date'] = sharks['Date'].str.replace('Before 1903', '1902')
sharks['Date'] = sharks['Date'].str.replace('Before 1905', '1904')
sharks['Date'] = sharks['Date'].str.replace('Before 1906', '1905')
sharks['Date'] = sharks['Date'].str.replace('Before 1908', '1907')
sharks['Date'] = sharks['Date'].str.replace('Before 1911', '1910')
sharks['Date'] = sharks['Date'].str.replace('Before 17-Jul-1916', '02-Jul-1916')
sharks['Date'] = sharks['Date'].str.replace('Before 1917', '1916')
sharks['Date'] = sharks['Date'].str.replace('Before 1921', '1920')
sharks['Date'] = sharks['Date'].str.replace('Before 1927', '1926')
sharks['Date'] = sharks['Date'].str.replace('Before 1934', '1933')
sharks['Date'] = sharks['Date'].str.replace('Before 1939', '1938')
sharks['Date'] = sharks['Date'].str.replace('Before 1952', '1951')
sharks['Date'] = sharks['Date'].str.replace('Before Mar-1956', '15-Feb-1956')
sharks['Date'] = sharks['Date'].str.replace('Before 1956', '1955')
sharks['Date'] = sharks['Date'].str.replace('Before 1957', '1956')
sharks['Date'] = sharks['Date'].str.replace('Before 1958', '1957')
sharks['Date'] = sharks['Date'].str.replace('Before  1958', '1957')
sharks['Date'] = sharks['Date'].str.replace('Before  24 Apr-1959', '09-Apr-1959')
sharks['Date'] = sharks['Date'].str.replace('Before  19-Jun-1959', '04-Jun-1959')
sharks['Date'] = sharks['Date'].str.replace('Before 1961', '1960')
sharks['Date'] = sharks['Date'].str.replace('Before 1962', '1961')
sharks['Date'] = sharks['Date'].str.replace('Before 1963', '1962')
sharks['Date'] = sharks['Date'].str.replace('Before 8-May-1965', '23-Apr-1965')
sharks['Date'] = sharks['Date'].str.replace('Before 3-Jan-1967', '19-Dec-1966')
sharks['Date'] = sharks['Date'].str.replace('Before 1969', '1968')
sharks['Date'] = sharks['Date'].str.replace(' Before 1975', '1974')
sharks['Date'] = sharks['Date'].str.replace(' Before  1975', '1974')
sharks['Date'] = sharks['Date'].str.replace('Before 1987', '1986')
sharks['Date'] = sharks['Date'].str.replace('Before Aug-1987', '16-Jul-1987')
sharks['Date'] = sharks['Date'].str.replace('Before Aug-1989', '16-Jul-1989')
sharks['Date'] = sharks['Date'].str.replace('Before 1994', '1993')
sharks['Date'] = sharks['Date'].str.replace('Beforer 1994', '1993')
sharks['Date'] = sharks['Date'].str.replace('Before 1996', '1995')
sharks['Date'] = sharks['Date'].str.replace('Before Mar-1995', '14-Feb-1995')
sharks['Date'] = sharks['Date'].str.replace('Before May-1996', '15-May-1996')
sharks['Date'] = sharks['Date'].str.replace('Before Feb-1998', '16-Feb-1998')
sharks['Date'] = sharks['Date'].str.replace('Before 2003', '2002')
sharks['Date'] = sharks['Date'].str.replace('Before 2004', '2003')
sharks['Date'] = sharks['Date'].str.replace('Before 2006', '2005')
sharks['Date'] = sharks['Date'].str.replace('Before 2009', '2008')
sharks['Date'] = sharks['Date'].str.replace('Before Oct-2009', '15-Sep-2009')
sharks['Date'] = sharks['Date'].str.replace('Before 2011', '2010')
sharks['Date'] = sharks['Date'].str.replace('Before 2012', '2011')
sharks['Date'] = sharks['Date'].str.replace('Before 08-Jun-1912', '24-Feb-1912')
sharks['Date'] = sharks['Date'].str.replace('Before 2016', '2015')

In [65]:
sharks['Date'] = sharks['Date'].str.replace('s', '')

In [66]:
# stripping white space from cell values... I would've used this above instead of .str.replace, but
#    I was unaware of this option and the dtype was mixed. I did not learn how to correct this issue
#    until I started correcting the values of the Age column
sharks['Date'] = sharks['Date'].map(lambda x: x.strip(' Early Late late During the Seige of Ladysmith () II ? `soon after close of Spanish American war War mid- " summer Last in Hong Kong'))

In [67]:
sharks.loc[sharks['Date'].str.contains('')==True, :]

           Case Id  ... original order
0       2021.07.19  ...         6668.0
1       2021.07.15  ...         6667.0
2       2021.07.14  ...         6666.0
3     2021.07.11.R  ...         6665.0
4     2021.07.10.c  ...         6664.0
...            ...  ...            ...
6662       ND.0005  ...            6.0
6663       ND.0004  ...            5.0
6664       ND.0003  ...            4.0
6665       ND.0002  ...            3.0
6666       ND.0001  ...            2.0

[6666 rows x 16 columns]

In [68]:
sharks['Date'] = sharks['Date'].str.replace('1920 -1923', '1921')
sharks['Date'] = sharks['Date'].str.replace('1940 - 1950', '1945')
sharks['Date'] = sharks['Date'].str.replace('1853 or 1854', '1853')
sharks['Date'] = sharks['Date'].str.replace('1950 - 1951', '1950')
sharks['Date'] = sharks['Date'].str.replace('1990 or 1991', '1991')
sharks['Date'] = sharks['Date'].str.replace('Between 1918 & 1939', '1928')
sharks['Date'] = sharks['Date'].str.replace('be 1941-1945, more likely 1945', '1945')
sharks['Date'] = sharks['Date'].str.replace('Ca. ', '')
sharks['Date'] = sharks['Date'].str.replace('Ca . ', '')
sharks['Date'] = sharks['Date'].str.replace('Circa', '')
sharks['Date'] = sharks['Date'].str.replace('Circa ', '')
sharks['Date'] = sharks['Date'].str.replace('A.D.', '')
sharks['Date'] = sharks['Date'].str.replace('Reprtd ', '')
sharks['Date'] = sharks['Date'].str.replace('Reprted', '')
sharks['Date'] = sharks['Date'].str.replace('Reportd ', '')
sharks['Date'] = sharks['Date'].str.replace('05 ', '05-')
sharks['Date'] = sharks['Date'].str.replace('17 ', '17-')
sharks['Date'] = sharks['Date'].str.replace('26 ', '26-')
sharks['Date'] = sharks['Date'].str.replace('24-1806', '24-Apr-1806')
sharks['Date'] = sharks['Date'].str.replace('Mid ', '15-')
sharks['Date'] = sharks['Date'].str.replace('Mid-', '15-')
sharks['Date'] = sharks['Date'].str.replace('336.B.C..', '336 B.C.')
sharks['Date'] = sharks['Date'].str.replace('1010  BC', '1010 B.C.')
sharks['Date'] = sharks['Date'].str.replace('190Feb-2010', '10-Feb-2010')
sharks['Date'] = sharks['Date'].str.replace('19-Jul-2007.b', '19-Jul-2007')
sharks['Date'] = sharks['Date'].str.replace('26-Jul-1975.b', '26-Jul-1975')
sharks['Date'] = sharks['Date'].str.replace('02-Ap-2001', '02-Apr-2001')
sharks['Date'] = sharks['Date'].str.replace('22-Jul-144', '22-Jul-1944')
sharks['Date'] = sharks['Date'].str.replace('26-Sep-t937', '26-Sep-1937')
sharks['Date'] = sharks['Date'].str.replace('08-Ap-1936', '08-Apr-1936')
sharks['Date'] = sharks['Date'].str.replace('23-Decp1896', '23-Dec-1896')

sharks['Date'] = sharks['Date'].str.replace('21764', '02-Aug-1959')
sharks['Date'] = sharks['Date'].str.replace('1836.00.', '1836')



sharks['Date'] = sharks['Date'].str.replace('January ', 'Jan-')
sharks['Date'] = sharks['Date'].str.replace('Jan ', 'Jan-')
sharks['Date'] = sharks['Date'].str.replace('Jan-Jun', '15-Mar')
sharks['Date'] = sharks['Date'].str.replace('Feb ', 'Feb-')
sharks['Date'] = sharks['Date'].str.replace('March', 'Mar')
sharks['Date'] = sharks['Date'].str.replace('April ', 'Apr-')
sharks['Date'] = sharks['Date'].str.replace('May ', 'May-')
sharks['Date'] = sharks['Date'].str.replace('May-Jun', '15-May')
sharks['Date'] = sharks['Date'].str.replace('June ', 'Jun-')
sharks['Date'] = sharks['Date'].str.replace('July ', 'Jul-')
sharks['Date'] = sharks['Date'].str.replace('Jul ', 'Jul-')
sharks['Date'] = sharks['Date'].str.replace('August ', 'Aug-')
sharks['Date'] = sharks['Date'].str.replace('September ', 'Sep-')
sharks['Date'] = sharks['Date'].str.replace('October ', 'Oct-')
sharks['Date'] = sharks['Date'].str.replace('November ', 'Nov-')
sharks['Date'] = sharks['Date'].str.replace('December ', 'Dec-')
sharks['Date'] = sharks['Date'].str.replace('ber ', 'Dec-')

sharks['Date'] = sharks['Date'].str.replace('Summer ', 'Jul-')
sharks['Date'] = sharks['Date'].str.replace('Fall ', 'Oct-')

sharks['Date'] = sharks['Date'].str.replace('--', '-')
sharks['Date'] = sharks['Date'].str.replace('_', '-')
sharks['Date'] = sharks['Date'].str.replace(' ', '')
sharks['Date'] = sharks['Date'].str.replace('. ', '')
sharks['Date'] = sharks['Date'].str.replace('B.C.', ' B.C.')

In [69]:
sharks['Date'] = sharks['Date'].str.replace('1880-1899', '1890')
sharks['Date'] = sharks['Date'].str.replace('1839/1840', '1839')
sharks['Date'] = sharks['Date'].str.replace('1845-1853', '1849')
sharks['Date'] = sharks['Date'].str.replace('1883-1889', '1886')
sharks['Date'] = sharks['Date'].str.replace('1896-1913', '1906')
sharks['Date'] = sharks['Date'].str.replace('1898-1899', '1898')
sharks['Date'] = sharks['Date'].str.replace('1900-1905', '1903')
sharks['Date'] = sharks['Date'].str.replace('1923-1924', '1923')
sharks['Date'] = sharks['Date'].str.replace('1940-1946', '1943')
sharks['Date'] = sharks['Date'].str.replace('1941-1942', '1941')
sharks['Date'] = sharks['Date'].str.replace('1941-1945', '1943')
sharks['Date'] = sharks['Date'].str.replace('1949-1950', '1949')
sharks['Date'] = sharks['Date'].str.replace('1952-1954', '1953')
sharks['Date'] = sharks['Date'].str.replace('1958-1959', '1958')
sharks['Date'] = sharks['Date'].str.replace('1960-1961', '1960')

In [70]:
sharks['Date'] = sharks['Date'].str.replace('\n1951.12.15.R', '15-Dec-1951')
sharks['Date'] = sharks['Date'].str.replace('1836.07.26.R', '26-Jul-1836')
sharks['Date'] = sharks['Date'].str.replace('1844.07.16.R', '16-Jul-1844')

In [71]:
sharks.loc[sharks['Date'].str.contains(' ') == True, :]

        Case Id  ... original order
6539  0000.0214  ...          129.0
6540  0000.0336  ...          128.0
6541  0000.0493  ...          127.0
6542  0000.0725  ...          126.0
6543  0000.1010  ...          125.0

[5 rows x 16 columns]

In [72]:
sharks['Date'] = sharks['Date'].map(lambda x: x.strip(' '))

In [73]:
sharks.loc[sharks['Date'].str.contains('B.C.'), :]

        Case Id  ... original order
6539  0000.0214  ...          129.0
6540  0000.0336  ...          128.0
6541  0000.0493  ...          127.0
6542  0000.0725  ...          126.0
6543  0000.1010  ...          125.0

[5 rows x 16 columns]

In [74]:
# replacing blank cells with NaN values
# code found on this website: https://stackoverflow.com/questions/40711900/replacing-empty-strings-with-nan-in-pandas
sharks.replace(r'^\s*$', np.nan, regex=True, inplace = True)

In [75]:
sharks['Date'].isna().sum()

5



> ### ['Year'] Column

In [76]:
sharks['Year'].isnull().sum()

2

In [77]:
sharks.loc[sharks['Year'].isnull(), :]

           Case Id         Date  ...  Investigator or Source original order
534   2017.01.08.R  08-Jan-2017  ...  Liquid Vision 1/8/2017         6134.0
6441  1836.08.19.R  19-Aug-1836  ...          C. Moore, GSAF          227.0

[2 rows x 16 columns]

In [78]:
# filling in missing year column values with the year listed in the Date column
sharks.loc[sharks.index == 534, 'Year'] = 2017
sharks.loc[sharks.index == 6441, 'Year'] = 1836

In [79]:
sharks['Year'].isnull().sum()

0

In [80]:
sharks.loc[sharks['Year']==0, :]

        Case Id  ... original order
6539  0000.0214  ...          129.0
6540  0000.0336  ...          128.0
6541  0000.0493  ...          127.0
6542  0000.0725  ...          126.0
6543  0000.1010  ...          125.0
...         ...  ...            ...
6662    ND.0005  ...            6.0
6663    ND.0004  ...            5.0
6664    ND.0003  ...            4.0
6665    ND.0002  ...            3.0
6666    ND.0001  ...            2.0

[112 rows x 16 columns]

In [81]:
# replacing the values of 0 to with NaN so that fillna will work smoothly
sharks['Year'] = sharks['Year'].replace(0, np.nan)

In [82]:
sharks['Year'].isnull().sum()

112

In [83]:
sharks.loc[sharks['Date'].index==6646, :].values

array([['ND.0021', nan, nan, 'Unprovoked', 'SOUTH AFRICA',
        'KwaZulu-Natal', 'Durban ',
        'Swimming in pool formed by construction of a wharf', 'M', nan,
        'FATAL, leg severed ', 'Y', nan, nan,
        'L. Green in South African Beachcomber, p.97', 22.0]],
      dtype=object)

In [84]:
# filling in the Year column with the Year from the Date column
# found and adapted code from this website: https://stackoverflow.com/questions/52601707/pandas-dataframe-how-to-extract-the-last-two-string-type-numbers-from-a-column
fillYear = sharks['Year'].fillna(sharks['Date'].str[-4:])
fillYear.isna().sum()

5

In [85]:
# filling in the missing Year column values with the values from the Date column
sharks['Year'] = fillYear

In [86]:
sharks.dropna(axis=0, subset=['Date'], inplace=True)

In [87]:
sharks['Year'].isna().sum()

0

In [88]:
sharks.loc[sharks['Year']== 0, :]

Empty DataFrame
Columns: [Case Id, Date, Year, Type, Country, Area, Location, Activity, Sex, Age, Injury, Fatal, Time, Species, Investigator or Source, original order]
Index: []

In [89]:
# verifying all NaNs have been filled
sharks.loc[sharks['Year'].isnull(), :].sum()

Case Id                   0.0
Date                      0.0
Year                      0.0
Type                      0.0
Country                   0.0
Area                      0.0
Location                  0.0
Activity                  0.0
Sex                       0.0
Age                       0.0
Injury                    0.0
Fatal                     0.0
Time                      0.0
Species                   0.0
Investigator or Source    0.0
original order            0.0
dtype: float64

In [90]:
sharks.loc[sharks['Year'].str.contains('-') == True, :]

Empty DataFrame
Columns: [Case Id, Date, Year, Type, Country, Area, Location, Activity, Sex, Age, Injury, Fatal, Time, Species, Investigator or Source, original order]
Index: []

In [91]:
BC = sharks['Date'].str.contains('B.C') == True
sharks[BC]

        Case Id  ... original order
6539  0000.0214  ...          129.0
6540  0000.0336  ...          128.0
6541  0000.0493  ...          127.0
6542  0000.0725  ...          126.0
6543  0000.1010  ...          125.0

[5 rows x 16 columns]

In [92]:
# fixing the B.C values in the Year column to reflect year only with (- signage)
sharks.loc[sharks.index == 6539, 'Year'] = -214
sharks.loc[sharks.index == 6540, 'Year'] = -336
sharks.loc[sharks.index == 6541, 'Year'] = -493
sharks.loc[sharks.index == 6542, 'Year'] = -725
sharks.loc[sharks.index == 6543, 'Year'] = -1010

In [93]:
sharks[BC]

        Case Id  ... original order
6539  0000.0214  ...          129.0
6540  0000.0336  ...          128.0
6541  0000.0493  ...          127.0
6542  0000.0725  ...          126.0
6543  0000.1010  ...          125.0

[5 rows x 16 columns]

In [94]:
sharks['Year'].value_counts()

2015.0    143
2017.0    140
2016.0    131
2011.0    129
2014.0    127
         ...
1771.0      1
1779.0      1
1780.0      1
1783.0      1
5.0         1
Name: Year, Length: 317, dtype: int64

In [95]:
sharks['Year']

0       2021
1       2021
2       2021
3       2021
4       2021
        ...
6662    1902
6663    1902
6664    1903
6665    1886
6666    1849
Name: Year, Length: 6661, dtype: object

In [96]:
sharks['Year'] = sharks['Year'].astype(int)

In [97]:
sharks['Year'].dtype

dtype('int64')

> ## Replacing NaNs in Remaining Colummns

- deal with missing values in the, ***Area***, ***Locataion***, ***Activity***, ***Sex***, ***Age***, ***Injury***, ***Time*** and ***Investigator or Source*** columns
- drop ***Original Order*** column

In [98]:
# dropping Original Order column as it is unnecessary
sharks = sharks.drop(columns= 'original order')

In [99]:
sharks['Location'].nunique()

4332

In [100]:
# filling NaN values with Unspecified
sharks['Location'] = sharks['Location'].fillna('Unspecified')

In [101]:
# filling NaN values with Unspecified
sharks['Area'] = sharks['Area'].fillna('Unspecified')

In [102]:
# filling NaN values with Unspecified
sharks['Activity'] = sharks['Activity'].fillna('Unspecified')

In [103]:
# filling NaN values with U
sharks['Sex'] = sharks['Sex'].fillna('U')

In [104]:
# filling NaN values with Unspecified
sharks['Injury'] = sharks['Injury'].fillna('Unspecified')

In [105]:
# filling NaN values with Unspecified
sharks['Investigator or Source'] = sharks['Investigator or Source'].fillna('Unspecified')

In [106]:
sharks['Time'].nunique()

386

In [107]:
# filling NaN values with Unspecified
sharks['Time'] = sharks['Time'].fillna('Unspecified')

In [108]:
# this column needs to be cleaned up more. I will invistigate further at another time
sharks['Time'].value_counts()

Unspecified                3442
Afternoon                   204
11h00                       136
Morning                     128
12h00                       117
                           ...
Before 10h00                  1
13h53                         1
09h29                         1
18h12                         1
Between 05h00 and 08h00       1
Name: Time, Length: 387, dtype: int64



> ## Clean ['Age'] Column



*   correct formatting issues from inconsistent entries
*   filling in NaN cells with 0. I do not want to drop all this missing information for the purposes of running analysis 0 will remain interprettable as no one can possibly be 0 yrs old.

In [109]:
# filling NaN values with 0
sharks['Age'] = sharks['Age'].fillna(0)

In [110]:
sharks['Age'].isnull().sum()

0

In [111]:
sharks['Age'].nunique()

235

In [112]:
# checking for total number cells with messy formatting in Age column
age = sharks['Age'].value_counts()==1
messyage = age==True
print(sharks['Age'].value_counts())
print(age)
print(messyage.count())
print(messyage.mean())

0            2921
19             88
16             88
17             84
17             82
             ...
F               1
66              1
67              1
18 months       1
17 & 16         1
Name: Age, Length: 235, dtype: int64
0            False
19           False
16           False
17           False
17           False
             ...
F             True
66            True
67            True
18 months     True
17 & 16       True
Name: Age, Length: 235, dtype: bool
235
0.37872340425531914

In [113]:
# assigning value for the following indices to the youngest age provided in the age 
#    ranges entered on the original dataframe

sharks.loc[sharks.index == 325, 'Age'] = 17
sharks.loc[sharks.index == 1673, 'Age'] = 18
sharks.loc[sharks.index == 1785, 'Age'] = 12
sharks.loc[sharks.index == 2093, 'Age'] = 8
sharks.loc[sharks.index == 2230, 'Age'] = 30
sharks.loc[sharks.index == 2298, 'Age'] = 33
sharks.loc[sharks.index == 3541, 'Age'] = 21
sharks.loc[sharks.index == 4290, 'Age'] = 25
sharks.loc[sharks.index == 4432, 'Age'] = 13
sharks.loc[sharks.index == 4849, 'Age'] = 7
sharks.loc[sharks.index == 4989, 'Age'] = 8
sharks.loc[sharks.index == 5178, 'Age'] = 9
sharks.loc[sharks.index == 5672, 'Age'] = 10
sharks.loc[sharks.index == 5843, 'Age'] = 31
sharks.loc[sharks.index == 6425, 'Age'] = 7
sharks.loc[sharks.index == 6630, 'Age'] = 13
sharks.loc[sharks.index == 49, 'Age'] = 45

In [114]:
# checking how many of the values in the Age column contain unnecessary formmating 
format_age = sharks[sharks['Age'].str.contains('s') == True]
format_age.count()

Case Id                   34
Date                      34
Year                      34
Type                      34
Country                   34
Area                      34
Location                  34
Activity                  34
Sex                       34
Age                       34
Injury                    34
Fatal                     34
Time                      34
Species                   19
Investigator or Source    34
dtype: int64

In [115]:
format_age.head()

          Case Id  ...                             Investigator or Source
88     2020.09.17  ...  K. McMurray, Tracking Sharks.com and B. Myatt,...
164    2019.12.30  ...                                     B. Myatt, GSAF
201  2019.08.31.a  ...                                 New4Jax, 8/31/2019
223    2019.07.10  ...                    K. McMurray, TrackingSharks.com
281    2018.11.28  ...                    K. McMurray, TrackingSharks.com

[5 rows x 15 columns]

In [116]:
sharks['Age'].dtypes

dtype('O')

In [117]:
sharks['Age'].value_counts().index

Index([              0,              19,              16,              17,
                    18,            '17',            '15',              20,
                  '18',            '20',
       ...
                 ' 30',       '17 & 35',         'Teens',       '17 & 16',
           '18 months',             'F',       '28 & 22',           '45 ',
       '2 to 3 months',       '32 & 30'],
      dtype='object', length=220)

In [118]:
# changing the dtype for the Age column. It's currently a mixed dtype and impossible to correct messy formatting
# found code at on this website: https://stackoverflow.com/questions/33312706/pandas-convert-mixed-types-to-string
sharks['Age'] = sharks['Age'].apply(lambda elt: str(int(elt)) if isinstance(elt, float) else str(elt))

In [119]:
sharks['Age'].value_counts().index

Index(['0', '17', '18', '19', '20', '16', '15', '21', '22', '25',
       ...
       '2 to 3 months', '81', '? & 19', '50 & 30', '28, 23 & 30', '9 months',
       '82', '36 & 23', '20 ', 'F'],
      dtype='object', length=147)

In [120]:
sharks['Age'] = sharks['Age'].map(lambda x: x.strip('-.() "½?&><').strip(" 'EFXTKLINEGRAMCBabcdefghijklmnopqrstuvwxyz"))

In [121]:
sharks['Age'].isnull().sum()

0

In [122]:
sharks['Age'].value_counts().index

Index(['0', '17', '20', '18', '19', '16', '15', '21', '22', '25',
       ...
       '33 & 37', '50 & 30', '. 33', '28 & 22', '-', '17 & 16', '86', '2',
       '28, 23 & 30', '32 & 30'],
      dtype='object', length=115)

In [123]:
format_and = sharks['Age'].str.contains('&') == True
sharks[format_and].head(2)

        Case Id  ...           Investigator or Source
185  2019.10.29  ...   B. Myatt & M. Michaelson, GSAF
274  2019.01.10  ...  K. McMurray, TrackingSharks.com

[2 rows x 15 columns]

In [124]:
sharks.loc[format_and, 'Age'].values

array(['28 & 22', '9 & 60', '28 & 26', '46 & 34', '28, 23 & 30',
       '36 & 26', '23 & 20', '7      &    31', '32 & 30', '9 & 12',
       '23 & 26', '33 & 37', '37, 67, 35, 27,  ? & 27', '21, 34,24 & 35',
       '30 & 32', '50 & 30', '17 & 35', '34 & 19', '33 & 26', '17 & 16',
       '36 & 23'], dtype=object)

In [125]:
# using the median age when more than one 2 ages are provided
# using the youngest age when only 2 ages are provided
age_and = sharks.loc[format_and.index, 'Age'].replace(sharks.loc[format_and, 'Age'].values, ['22', '9', '26', '34', '23', '26', '20', '31', '30', '9', '23', '33', '27', '21', '30', '30', '17', '19', '26', '16', '23'])
sharks.loc[format_and.index, 'Age'] = age_and
sharks[format_and].head(2)

        Case Id  ...           Investigator or Source
185  2019.10.29  ...   B. Myatt & M. Michaelson, GSAF
274  2019.01.10  ...  K. McMurray, TrackingSharks.com

[2 rows x 15 columns]

In [126]:
sharks.loc[sharks.index==5359, 'Injury'].values

array(['Hooked shark capsized rowboat & the 2 men were drowned PROVOKED INCIDENT'],
      dtype=object)

In [127]:
sharks['Age'].value_counts().index

Index(['0', '17', '20', '18', '19', '16', '15', '21', '22', '25', '14', '24',
       '13', '30', '26', '23', '28', '12', '29', '27', '32', '35', '40', '10',
       '31', '38', '34', '33', '36', '43', '9', '37', '11', '50', '42', '41',
       '39', '45', '52', '8', '48', '46', '47', '49', '44', '7', '55', '',
       '51', '57', '60', '54', '58', '53', '6', '61', '59', '56', '63', '70',
       '69', '62', '68', '5', '65', '64', '3', '66', '73', '75', '71', '74',
       '77', '78', '4', '1', '67', '2 to 3', '81', '2', '87', '. 33', '72',
       '.', '-20', '86', '-', '18 to 22', '25 to 35', '82', '84', '16 to 18',
       '22, 57, 31', '-30'],
      dtype='object')

In [128]:
format_dot = sharks['Age'].str.contains('. ') == True
sharks[format_dot]

           Case Id  ...             Investigator or Source
197     2019.09.18  ...    K. McMurray, TrackingSharks.com
3111    1987.12.13  ...  Sunday Mail (QLD), 1/31/1988, p.2
3336    1982.05.00  ...                Clay Creswell, GSAF
3732    1970.12.13  ...         GSAF; H.D. Baldridge, p.22
4003  1965.00.00.c  ...           Captain T. Falcon-Barker
4570  1957.00.00.i  ...                   F. Poli, p.23-24

[6 rows x 15 columns]

In [129]:
sharks.loc[format_dot, 'Age'].values

array(['22, 57, 31', '16 to 18', '. 33', '18 to 22', '25 to 35', '2 to 3'],
      dtype=object)

In [130]:
# using the median age when more than one 2 ages are provided
# using the youngest age when only 2 ages are provided
age_dot = sharks.loc[format_dot.index, 'Age'].replace(sharks.loc[format_dot, 'Age'].values, ['31', '16', '33', '18', '25', '2'])
sharks.loc[format_dot.index, 'Age'] = age_dot
sharks[format_dot]

           Case Id  ...             Investigator or Source
197     2019.09.18  ...    K. McMurray, TrackingSharks.com
3111    1987.12.13  ...  Sunday Mail (QLD), 1/31/1988, p.2
3336    1982.05.00  ...                Clay Creswell, GSAF
3732    1970.12.13  ...         GSAF; H.D. Baldridge, p.22
4003  1965.00.00.c  ...           Captain T. Falcon-Barker
4570  1957.00.00.i  ...                   F. Poli, p.23-24

[6 rows x 15 columns]

In [131]:
format_dash = sharks['Age'].str.contains('-') == True
sharks[format_dash]

           Case Id  ...                             Investigator or Source
2304  2001.04.12.e  ...                  M. Large, Stuart News, 4/13/2001
3319    1982.09.04  ...                  Z. Arocha, Miami Herald, 9/5/1982
4421    1959.09.00  ...  A. R. Satz;  P. Gilbert, L. Schultz & S. Sprin...

[3 rows x 15 columns]

In [132]:
sharks['Age'] = sharks['Age'].map(lambda x: x.strip('-').strip("."))
sharks['Age'] = sharks['Age'].replace('', np.nan)

In [133]:
sharks['Age'].isna().sum()

27

In [134]:
sharks['Age'] = sharks['Age'].fillna(0)
sharks['Age'].isna().sum()

0

In [135]:
sharks['Age'].astype('int64')

0        0
1       11
2       38
3        0
4        9
        ..
6662     0
6663     0
6664     0
6665     0
6666    15
Name: Age, Length: 6661, dtype: int64

In [136]:
# commenting this out just in case I need to come back to it
# s = 'abc12321cba'
# print(s.translate({ord(i): None for i in 'abc'}))

In [137]:
sharks.isna().sum()

Case Id                      0
Date                         0
Year                         0
Type                         0
Country                      0
Area                         0
Location                     0
Activity                     0
Sex                          0
Age                          0
Injury                       0
Fatal                        0
Time                         0
Species                   3002
Investigator or Source       0
dtype: int64



> ## ['Species'] Column



*   filling NaN values with *Unkown*
*   not going to format this column at this point (will come back at a later time)

In [138]:
sharks.loc[sharks['Species'].isna(),:]

           Case Id  ...                             Investigator or Source
1       2021.07.15  ...                    K. McMurray, TrackingSharks.com
2       2021.07.14  ...                  J. Marchard & M. Michaelson, GSAF
3     2021.07.11.R  ...                               Yahoo.com, 7/11/2021
5     2021.07.10.b  ...  M. Michaelson, GSAF & K. McMurray, TrackingSha...
6       2021.07.10  ...                    K. McMurray, TrackingSharks.com
...            ...  ...                                                ...
6662       ND.0005  ...                   H. Taunton; N. Bartlett,  p. 234
6663       ND.0004  ...              H. Taunton; N. Bartlett,  pp. 233-234
6664       ND.0003  ...               F. Schwartz, p.23; C. Creswell, GSAF
6665       ND.0002  ...                                The Sun, 10/20/1938
6666       ND.0001  ...                                         S.W. Baker

[3002 rows x 15 columns]

In [139]:
# filling in NaNs in the Species column with 'unknown'
sharks['Species'] = sharks['Species'].fillna('Unknown')

In [140]:
sharks['Species'].value_counts()

Unknown                                                                                         3003
White shark                                                                                      184
Shark involvement prior to death was not confirmed                                               105
Invalid                                                                                          102
Shark involvement not confirmed                                                                   90
                                                                                                ...
3 m [10'] blue whaler                                                                              1
4.9 m to 5.5 m [16' to 18'] white shark                                                            1
5.5' shark                                                                                         1
Dooley believed his Injury was caused by stingray (Dasyatidae family)                              1
2.4 m [8'] white shark, species identity confirmed by witnesses & tooth pattern in surfboard       1
Name: Species, Length: 1624, dtype: int64

## SHARKS_DF

- filtering out all dates with *BC* timestamps as well as dates *before 1677* as these are also out of the datetime timestamp bounds. By creating/renaming this DataFrame the original values can still be recalled and analyzed later if needed in the above **sharks** DataFrame.

 *   creating a filtered database where the ***Date*** column is converted to datetime format
 *   converting the ***Date*** column to Datetime format causes all cells with only month and year values to be returned as NaN
 *   dropping the 842 rows will allow for filtering by month or day if need be

In [141]:
sharks[BC]

        Case Id  ...                             Investigator or Source
6539  0000.0214  ...  Reported by Greek poet, Leonidas of Tarentum (...
6540  0000.0336  ...  Plutarch (45 - 125 A.D.) in Life of Phoecion (...
6541  0000.0493  ...                         Herodotus (485 - 425 B.C.)
6542  0000.0725  ...                V.M. Coppleson (1958), p.262, et al
6543  0000.1010  ...                                       J.A. WhiteJ.

[5 rows x 15 columns]

In [142]:
dates = sharks.drop(sharks.index[6539:6544])

In [143]:
# checking to make sure indices were dropped
dates[6537:6541]

         Case Id  ...                             Investigator or Source
6537  0077.00.00  ...  Perils mentioned by Pliny the Elder (23 A.D. t...
6538  0005.00.00  ...                                    Waverly Library
6545     ND-0156  ...                    K. McMurray, TrackingSharks.com
6546     ND-0155  ...                                     B. Myatt, GSAF

[4 rows x 15 columns]

In [144]:
dates['Date'].isna().sum()

0

In [145]:
dates.loc[dates.index == 349, :]

        Case Id  ...            Investigator or Source
349  2018.06.00  ...  K. McMurray, Tracking Sharks.com

[1 rows x 15 columns]

In [146]:
oo = dates[dates['Date'].str.contains('1642') == True]
oo

           Case Id  ...                             Investigator or Source
6526  1642.00.00.b  ...  History of the Pyrates, by D. Defoe, Vol. 2, p.28
6530    1642.00.00  ...  Knickerbocker's History of New York, by Washin...

[2 rows x 15 columns]

In [147]:
# looking up out of bounds rows... Cannot convert to datetime format with dates before 1677
oob = dates.loc[dates['Year'] <=1677, :]
oob

           Case Id  ...                             Investigator or Source
6526  1642.00.00.b  ...  History of the Pyrates, by D. Defoe, Vol. 2, p.28
6527  1638.00.00.R  ...                                 Sir Thomas Herbert
6528  1637.00.00.R  ...        H. Edwards, p.31, citing Sebastian Manrique
6529  1617.00.00.R  ...            H. Edwards, p.31, citing Samuel Purchas
6530    1642.00.00  ...  Knickerbocker's History of New York, by Washin...
6531    1595.00.00  ...          The Voyage of John Huyghen van Linschoten
6532  1580.01.10.R  ...                                G.P. Whitley, p. 10
6533    1555.00.00  ...                                       Olaus Magnus
6534    1554.00.00  ...                                       G. Rondelet
6535    1543.00.00  ...                                          J. Castro
6536    0500.00.00  ...                                          J. Castro
6537    0077.00.00  ...  Perils mentioned by Pliny the Elder (23 A.D. t...
6538    0005.00.00  ...                                    Waverly Library

[13 rows x 15 columns]

In [148]:
# dropping dates before 1677
dates.drop(oob.index, inplace=True)

In [149]:
dates['Date']

0       19-Jul-2021
1       15-Jul-2021
2       14-Jul-2021
3       11-Jul-2021
4       10-Jul-2021
           ...
6662           1902
6663           1902
6664           1903
6665           1886
6666           1849
Name: Date, Length: 6643, dtype: object

In [150]:
# converting Date column to datetime format and creating NaNs for all rows that format correctly
dates['Date'] = pd.to_datetime(dates['Date'], format= '%d-%b-%Y', exact=False, infer_datetime_format=True, errors= 'coerce')

In [151]:
dates.loc[dates['Date'].isna(), :]

         Case Id  ...                 Investigator or Source
349   2018.06.00  ...       K. McMurray, Tracking Sharks.com
357   2018.05.00  ...                   Perth Now, 6/30/2018
431   2017.09.14  ...                         B. Myatt, GSAF
476   2017.06.05  ...                 Tahiti Infos, 6/6/2017
573   2016.09.00  ...                              K. Yonker
...          ...  ...                                    ...
6662     ND.0005  ...       H. Taunton; N. Bartlett,  p. 234
6663     ND.0004  ...  H. Taunton; N. Bartlett,  pp. 233-234
6664     ND.0003  ...   F. Schwartz, p.23; C. Creswell, GSAF
6665     ND.0002  ...                    The Sun, 10/20/1938
6666     ND.0001  ...                             S.W. Baker

[842 rows x 15 columns]

In [152]:
dates.dropna(subset=['Date'], inplace=True)

In [153]:
dates.isna().sum()

Case Id                   0
Date                      0
Year                      0
Type                      0
Country                   0
Area                      0
Location                  0
Activity                  0
Sex                       0
Age                       0
Injury                    0
Fatal                     0
Time                      0
Species                   0
Investigator or Source    0
dtype: int64

In [154]:
dates['Date'].astype('datetime64')

0      2021-07-19
1      2021-07-15
2      2021-07-14
3      2021-07-11
4      2021-07-10
          ...
6626   1950-06-28
6645   1940-01-11
6653   1916-07-02
6654   1913-07-18
6655   1913-07-15
Name: Date, Length: 5801, dtype: datetime64[ns]

# EDA



1.   visualizations
2.   filters and comparisons

# Machine Learning Models



*   clustering for trends or groups for further analysis
*   predictive models for fatality
*   predictive models for months with attacks (use sharks_dates df)